.frameposize
.session
ac-comphist.dat
history
abbrev_defs
scratch-log
scratch-log-prev
tramp
kill-ring-saved.el
url/
elpa/
undohist/
auto-save-list/
semanticdb/
var/
image-dired/
server/
eshell/lastdir
conf/99_private.el
*.elc

*~
*.swp
